#calendar {
    max-width: 900px;
    margin: 0 auto;
}

:root {
    --fc-button-text-color: #fff;
    --fc-border-color: #00000088;
    --fc-page-bg-color: snow;
    --fc-neutral-bg-color: rgba(208, 208, 208, 0);
    --fc-neutral-text-color: #fff;
    --fc-now-indicator-color: red;
    --fc-small-font-size: .6em;
    /* 今天 */
    --fc-today-bg-color: #9e8071;
    /* 活动 */
    --fc-event-text-color: #00ffd0;
    --fc-event-border-color: #3788d800;
}


/* 日格子 */

.fc-daygrid-day {
    background-color: #030f3d55;
}


/* 日数字 */

.fc-daygrid-day-number {
    color: snow;
    font-size: 16px;
}


/* 星期格子 */

th.fc-col-header-cell {
    background-color: #00000055;
}


/* 星期文字 */

.fc-col-header-cell-cushion {
    color: #bd967a;
    font-size: 15px;
}


/* 活动背景 */

div.fc-event-title-container {
    background-image: linear-gradient(to right, #015253aa, #01525333);
}


/* 所有格子 */

.fc-scrollgrid {
    border-color: black;
}