/* 小型卡片图 */

div.mini-kpi-card-inner-container {
    font-size: 0px;
    width: 100%;
    height: 100%;
    margin: 0px;
    position: relative;
    display: block;
}

div.mini-kpi-card-title-container {
    display: block;
    width: 100%;
    position: absolute;
}

p.mini-kpi-card-title {
    color: snow;
    margin: 0.05vh 0px 0px 1vw;
}

div.mini-kpi-card-content-container {
    display: inline-block;
    position: absolute;
    align-items: center;
    vertical-align: middle;
    width: 100%;
    text-align: center;
}

p.mini-kpi-card-content-value {
    display: inline-block;
    color: snow;
    font-style: italic;
    margin: 0px;
}

p.mini-kpi-card-content-label {
    display: inline-block;
    color: snow;
    margin-left: 0.4em;
}